nav {
  padding: 0 20px;
  min-height: 6vh;
  background: #1c2022;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
  font-size: 1.75rem;
}

ul {
  display: flex;
  list-style: none;
  color: white;
  cursor: pointer;
}

.hamburger-btn {
  display: none;
}

.overlay-closed,
.overlay-open {
  display: flex;
  justify-content: center;
  background-color: #1c2022;
  transition: height 0.4s ease-in;
  padding: 0 2em;
}

.overlay-closed {
  position: absolute;
  height: 0vh;
  width: 100vw;
}

.overlay-open {
  height: 94vh;
}

.overlay-menu {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  padding-top: 2em;
  width: 100%;
}

.overlay-menu li.closed {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.overlay-menu li.open {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

@media screen and (max-width: 769px) {
  .main-nav {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    display: none;
  }

  .mobile-nav li {
    display: none;
  }
}
