nav {
  padding: 0 20px;
  min-height: 6vh;
  background: #1c2022;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 2s;
}

.no-shadow {
  box-shadow: none;
}

h1 {
  color: white;
  font-size: 1.75rem;
}

ul {
  display: flex;
  list-style: none;
  color: white;
  cursor: pointer;
}

.hamburger-btn {
  display: none;
  z-index: 99;
  background-color: transparent;
  border: none;
}

.overlay-closed,
.overlay-open {
  display: flex;
  justify-content: center;
  background-color: #1c2022;
  transition: height 0.4s ease-in;
  padding: 0 2em;

  position: fixed;
}

.overlay-closed {
  height: 0vh;
  width: 100vw;
}

.overlay-open {
  height: 100vh;
  width: 100vw;
}

.overlay-menu {
  max-height: 80vh;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  margin-top: 10vh;
  width: 100%;
}

.overlay-menu li.closed {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.overlay-menu li.open {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

.main-nav ul {
  display: flex;
  gap: 1em;
}

.main-nav a,
.overlay-menu a {
  color: white;
  text-decoration: none;
}

i {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 769px) {
  .main-nav {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    display: none;
  }

  .overlay-menu {
    display: none;
  }
}
