.post-main {
  width: 100%;
  background-color: white;
  display: flex;
  border: 1.25px solid var(--medium-grey);
  border-radius: 4px;
  margin-bottom: 1em;
}

.karma-box {
  background-color: var(--light-grey);
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.karma-box button {
  border: none;
  padding: 2px;
  background-color: transparent;
}

.karma-box i {
  font-size: 1rem;
}

.details-box {
  padding: 0.5em;
}

.user-time {
  font-size: 0.8rem;
  color: var(--dark-grey);
}

.post-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.details-box .post-url {
  color: var(--accent-blue);
  font-size: 0.8rem;
  z-index: 99;
}

.details-box .post-url:hover {
  text-decoration: underline;
}

.post-url {
  color: red;
}
