.sub-nav-link-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 1em;
}

.sub-nav-link-main a {
  width: 100%;
}

.sub-nav-link-main:hover {
  background-color: var(--hover-grey);
}

.sub-nav-link-main button {
  width: auto;
  background-color: transparent;
  border: none;
}

.sub-nav-link-main i {
  font-size: 1.3rem;
  color: var(--accent-blue);
}
