.all-subs-body {
  margin-top: 6vh;
  min-height: 94vh;
  padding: 1em;
  background-color: var(--home-bg-grey);
  display: flex;
  justify-content: center;
}

.all-subs-table {
  background-color: white;
}
