.home-main {
  margin-top: 6vh;
  min-height: 94vh;
  padding: 1em;
  display: grid;
  justify-items: center;
  grid-template-columns: 100% 303px;
  background-color: var(--home-bg-grey);
}

.home-posts {
  width: 100%;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  width: 100%;
}

.new-post-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  border: 1.25px solid var(--medium-grey);
  border-radius: 4px;
  padding: 0.5em;
}

@media only screen and (min-width: 1200px) {
  .home-content {
    max-width: 1068px;
  }
}

@media only screen and (max-width: 600px) {
  .home-main {
    padding: 0;
  }

  .home-content {
    padding: 0;
    flex-direction: column;
  }

  .new-post-home {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
