.user-nav-box {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  min-width: 100px;
  text-align: center;
}

.user-nav-box .username {
  font-weight: 500;
}

.user-nav-box .karma {
  color: var(--dark-grey);
}
