.sub-nav-link-main,
.sub-nav-link-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 1em;
}

.sub-nav-link-main a,
.sub-nav-link-mobile a {
  width: 100%;
}

.sub-nav-link-main:hover {
  background-color: var(--hover-grey);
}

.sub-nav-link-main button,
.sub-nav-link-mobile button {
  width: auto;
  background-color: transparent;
  border: none;
}

.sub-nav-link-main i {
  font-size: 1.1rem;
  color: var(--accent-blue);
}

.star-btn i {
  color: grey;
}

.sub-nav-link-mobile a {
  font-weight: 400;
}
