.reply-left {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

.reply-line {
  border-left: 2px solid var(--main-grey);
}

.reply-line:hover {
  border-left: 2px solid var(--mobile-orange);
}

.reply-main {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  margin-bottom: 1em;
  display: flex;
}

.reply-main .user-and-time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.reply-main .user-and-time .username {
  font-weight: 500;
}

.reply-main .user-and-time .posted-interval {
  color: grey;
}

.reply-main .reply-text {
  margin-bottom: 5px;
}

.reply-main .karma {
  padding: 0.5em;
  display: flex;
  gap: 5px;
  align-items: center;
}

.reply-main .karma > *:hover {
  background-color: var(--hover-grey);
}

.karma i {
  font-size: 1rem;
}

.karma button {
  padding: 0.25em 0.5em;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.reply-main .reply-box {
  margin-left: 11px;
}
