.comment-left {
  display: flex;
  padding: 0.5em 1em;
}

.comment-line {
  border-left: 3px solid var(--main-grey);
}

.comment-line:hover {
  border-left: 3px solid var(--accent-blue);
}

.comment-main {
  width: 100%;
  border: 1px solid red;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  margin-bottom: 1em;
  display: flex;
}

.user-and-time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.user-and-time .username {
  font-weight: 500;
}

.user-and-time .posted-interval {
  color: grey;
}

.reply-text {
  margin-bottom: 5px;
}

.karma-and-reply {
  padding: 0.5em;
  display: flex;
  gap: 5px;
}

.karma-and-reply > *:hover {
  background-color: var(--hover-grey);
}

.reply-box {
  margin-left: 11px;
}
