.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-height: 600px) {
  .backdrop {
    align-items: flex-start;
  }
}
