.select-sub {
  width: 250px;
  margin-bottom: 1em;
}
.select-isOpen-btn {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: white;
  border: 1px solid var(--medium-grey);
  border-radius: 4px;
}

.select-sub-dropdown {
  width: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--medium-grey);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select-sub-btn {
  border: none;
  padding: 0.5em 0.5em;
  background-color: white;
}

.select-sub-btn:hover {
  background-color: var(--hover-grey);
}

.select-isOpen-btn i {
  transition-property: transform;
  transition-duration: 300ms;
}

.select-isOpen-btn .open {
  transform: rotate(180deg);
  border: none;
}
