.login-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--modal-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  padding: 0px;
  align-self: flex-end;
}

.login-step {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.close-btn i {
  font-size: 1.25rem;
}

h1 {
  font-size: 1.25rem;
}

.login-step-content {
  display: flex;
  flex-direction: column;
  padding: 1em;

  gap: 15px;
}

.step-header {
  display: flex;
  justify-content: space-between;
}

.step-header button,
.step-header button i {
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
}

.oAuth-btn {
  width: 100%;
  margin: 5px 0;
  padding: 0.8em;
  background-color: transparent;
  border: 1px solid var(--main-grey);
  border-radius: 20px;
  font-weight: 500;
}

.line-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  color: var(--dark-grey);
  font-weight: 700;
}

.line {
  background-color: var(--main-grey);
  width: 40%;
  height: 1px;
}

label {
  font-size: 0.8rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.login-form button {
  margin-top: 0.8em;
  padding: 0.75em;
}

.login-form .login-btn {
  background-color: var(--accent-blue);
  border: none;
}

.login-step-content input {
  padding: 0.75em;
  font-size: 1rem;
  border: 1px solid var(--main-grey);
  background-color: var(--light-grey);
  border-radius: 4px;
}

.login-step-content input:focus {
  outline: none;
  border: 1px solid var(--dark-grey);
  background-color: transparent;
}

.user-management {
  font-size: 0.8rem;
}

.user-management div:first-of-type {
}

.user-management a {
  color: var(--accent-blue);
  font-weight: 700;
  text-decoration: none;
}

.switch-to-register {
  margin-top: 0.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.user-management button {
  margin-left: 0.5em;
  border: none;
  background-color: var(--mobile-orange);
  border-radius: 99px;
  padding: 0.25em 1em;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
}

@media screen and (max-width: 769px) {
  .step-art {
    display: none;
  }

  .login-form .login-btn {
    background-color: var(--mobile-orange);
    border: none;
  }
}
