.modal {
  width: clamp(50%, 700px, 90%);
  height: 95%;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.orange-gradient {
  background: var(--gradient);
}

.hello {
  background-color: red;
}
