.subreddit-main {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subreddit-body {
  background-color: var(--home-bg-grey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.subreddit-content {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  width: 100%;
}

.new-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  border: 1.25px solid var(--medium-grey);
  border-radius: 4px;
  padding: 0.5em;
}

.new-post-link,
.new-post-link input {
  width: 100%;
}

.new-post-link input {
  padding: 0.75em;
  font-size: 1rem;
  border-radius: 4px;
}

.new-post-link input {
  border: 1.25px solid var(--main-grey);
}

.new-post-link input:hover {
  border: 1.25px solid var(--accent-blue);
  border-radius: 4px;
}

.subreddit-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subreddit-loading {
  margin-top: 6vh;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--accent-blue);
  border-color: var(--accent-blue) transparent var(--accent-blue) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1200px) {
  .subreddit-content {
    max-width: 1068px;
  }
}
