.post-detail-main {
  margin-top: 6vh;
  min-height: 94vh;
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  padding: 0 2em;
}

.post-detail-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-detail-header {
  height: 48px;
  background-color: black;
  color: white;
  position: fixed;
  width: calc(100% - 4em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  z-index: 2;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.back-btn {
  display: flex;
  padding: 0.2em 0.5em;
}

.back-btn:hover {
  border: 1px solid white;
}

.back-btn i,
.back-btn {
  color: white;
}

.post-detail-body {
  background-color: white;
  min-height: 200vh;
  margin-top: 48px;
}

@media screen and (max-width: 769px) {
  .post-detail-main {
    padding: 0em;
  }

  .post-detail-header {
    display: none;
  }

  .post-detail-body {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .post-detail-content,
  .post-detail-header {
    max-width: 1100px;
  }
}
