* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'IBM-Plex-Sans', Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

textarea {
  border-radius: 4px;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid var(--main-grey);
}

/* Fonts */

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./fonts/Noto-Sans/NotoSans-Black.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./fonts/Noto-Sans/NotoSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./fonts/Noto-Sans/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* Colours */

:root {
  --main-white: #ffffff;
  --main-grey: rgb(199, 199, 199);
  --medium-grey: rgb(214, 214, 214);
  --dark-grey: rgb(134, 134, 134);
  --darkest-grey: rgb(108, 108, 108);
  --light-grey: #f9f9f9;
  --hover-grey: rgb(231, 230, 230);
  --main-black: #000000;
  --home-bg-grey: #dfe3e7;
  --accent-blue: rgb(41, 133, 213);
  --accent-blue-hover: rgb(64, 156, 237);
  --modal-bg: rgba(0, 0, 0, 0.803);
  --std-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --input-valid: rgb(198, 236, 198);
  --input-invalid: rgb(255, 202, 202);
  --post-btn-active-bg: rgb(237, 246, 249);
  --mobile-blue: rgb(8, 20, 51);
  --mobile-orange: #ff4500;
  --table-grey: rgb(245, 245, 246);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
