.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  min-height: calc(100vh - 50px);
  background-color: transparent;
  overflow: auto;
}

.mobile-menu {
  padding: 1em 0;
  color: white;
  position: absolute;
  background-color: var(--mobile-blue);
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mobile-menu-upper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
}

.mobile-menu-upper .user-details {
  width: 100%;
  padding: 0.5em;
  text-align: center;
}

.mobile-menu a {
  width: 100%;
  padding: 0.25em 1em;
  display: flex;
  gap: 1em;
  color: white;
  text-decoration: none;
}

.mobile-subs-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.4em 1em;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

.mobile-subs-btn-left {
  display: flex;
  gap: 1em;
}

.mobile-subs-btn i,
.mobile-menu a i {
  font-size: 1rem;
  color: white;
}

.mobile-subs-btn i {
  font-size: 1rem;
  border: none;
  transition-property: transform;
  transition-duration: 300ms;
}

.mobile-subs-btn .open {
  transform: rotate(180deg);
}

.mobile-menu-lower {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.mobile-menu-lower button {
  width: 100%;
  max-width: 350px;
  font-weight: 600;
  font-size: 1rem;
  padding: 7px 15px;
  border-radius: 40px;
  border: none;
  background-color: var(--accent-blue);
  color: white;
}
