.subs-nav {
  position: fixed;
  z-index: 99;
  background-color: white;
  border-right: 1px solid var(--medium-grey);
  border-bottom: 1px solid var(--medium-grey);
  border-left: 1px solid var(--medium-grey);
  max-height: 500px;
  overflow-y: scroll;
}

.subs-nav-upper {
  width: 100%;
}

.subs-nav-upper a {
  display: inline-block;
  width: 100%;
  padding: 0.25em 1em;
  text-decoration: none;
  color: black;
}

.subs-nav-upper a:hover {
  background-color: var(--hover-grey);
}

.subs-nav h2 {
  color: grey;
  font-size: 0.7rem;
  padding: 0.25em 1em;
  font-weight: 400;
}

.guest-subs {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.guest-subs div {
  padding: 0.25em 1em;
}

.guest-subs div:hover {
  background-color: var(--hover-grey);
}
