.subs-nav {
  position: fixed;
  z-index: 99;
  background-color: white;
  border-right: 1px solid var(--medium-grey);
  border-bottom: 1px solid var(--medium-grey);
  border-left: 1px solid var(--medium-grey);
  max-height: 500px;
  overflow-y: auto;
}

.all-subs-link {
  padding: 0.5em 1em;
  width: 100%;
}

.all-subs-link:hover {
  background-color: var(--hover-grey);
}

.all-subs-link a {
  width: inherit;
}

.subs-nav h2 {
  color: grey;
  font-size: 0.7rem;
  padding: 0.25em 1em;
  font-weight: 400;
}
