.subs-nav {
  position: fixed;
  z-index: 99;
  background-color: white;
}

.all-subs-link {
  display: flex;
  width: 100%;
}

.all-subs-link a {
  text-align: center;
  background-color: rgb(201, 201, 230);
  width: inherit;
  padding: 0.25em;
}

.subs-nav h2 {
  color: grey;
  font-size: 0.7rem;
  padding: 0.25em 1em;
  font-weight: 400;
}
